
body {
    background-color: black;
    color: white;
}

#dscrptn {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14pt;
    color: #818181;
}

#swordname {
    font-family: classico-urw, sans-serif;
    font-size: 20pt;
}

#swordsr {
    font-family: roboto, sans-serif;
    font-weight: 200;
    font-size: 18pt;
}

#prc {
    font-family: "Lato";
    font-weight: 300;
    font-size: 34pt;
    color: #ff9c00;
}

#btn {
    font-family: "Roboto";
    font-size: 15pt;
}
